<h1>Posts</h1>
<p>
  <a href="/places">Back to all places</a>
</p>

<p> <%= @posts.inspect%></p>

<p>Total posts: <%= @posts.count %> </p>


  <% for post in @posts %>
    <h2><%= post["title"] %></h2>
    <h4><%= post["occurred_on"] %></h4>
    <p> <%= post["description"] %> </p>
  <% end %>


