<!-- Place details page -->

<h1><%= @place["name"]%></h1>

<p>
  <a href="/entries/new?place_id=<%= @place["id"]%>">New Post</a>
</p>

<p>
  <a href="/places">Back to all places</a>
</p>


<h2>Posts</h2>


<% for post in @posts %>
    <h2><%= post["title"] %></h2>
    <h4><%= post["occurred_on"] %></h4>
    <p> <%= post["description"] %> </p>
  <% end %>



